<h1><%= @user.name %>'s Hosted Events</p>
  <% @user.events.each do |e| %>
    <ul>
      <li>
      <%= e.description %>
    </li>
  </ul>
  <% end %>
<% if @user == current_user %>
 <%= link_to "Create a new Event", new_event_path, class: "btn btn-lrg btn-primary" %>
<% end %>

<h1>Events signed up to attend</h1>




